{% extends "site_base.html" %}

{% block head_title_base %}{% block head_title %}Draft{% endblock %}{% endblock %}</title>

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}draft/css/draft.css" type="text/css" />
{% endblock extra_head %}


		
{% block left_sidebar %}
	<h4>Chris</h4>
	<p>This is just some test content.</p>
	<h5>Team</h5>
	<p>This is who is on the team</p>
{% endblock left_sidebar %}
		
{% block right_sidebar %}
	<ul id="position_pick">
		<li>QB</li>
		<li>RB</li>
		<li>WR</li>
		<li>TE</li>
		<li>K</li>
		<li>DEF</li>
	</ul>
	<input type="text" name="search" value="Search" />
	<div id="position_results"></div>
{% endblock right_sidebar %}

{% block body %}

	<div id="recent_picks">
		<ul>
			<li id="previous_pick" class="draft_pick"></li>
			<li id="current_pick" class="draft_pick"></li>
			<li id="next_pick" class="draft_pick"></li>
		</ul>
	</div>

	<div id="draftboard">
		<h2>Draft Board</h2>
		<table>
			<thead>
				<tr><th>Pick</th><th>Team</th><th>Player</th><th>Position</th></tr>
			</thead>			
			<tbody>	
				<tr><td>1</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>2</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>3</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>4</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>5</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>6</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>7</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>8</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>9</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>10</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>11</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>12</td><td>Team</td><td>Player</td><td>Position</td></tr>
			</tbody>
		</table>
	</div>
{% endblock body %}