{% extends "site_base.html" %}

{% block head_title_base %}{% block head_title %}Draft{% endblock %}{% endblock %}</title>

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}draft/css/draft.css" type="text/css" />
{% endblock extra_head %}


		
{% block left_sidebar %}
<div class="span2 columns" id="left_sidebar">
   	<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
	<h4>Chris</h4>
	<p>This is just some test content.</p>
	<h5>Team</h5>
	<p>This is who is on the team</p>
</div>
{% endblock left_sidebar %}

{% block right_sidebar %}
<div class="span3 columns" id="right_sidebar">

	<table id="position_pick">
		<tbody>
			<tr>
				<td><a href="#">QB</a></td>
				<td><a href="#">RB</a></td>
				<td><a href="#">WR</a></td>
			</tr>
			<tr>
				<td><a href="#">TE</a></td>
				<td><a href="#">K</a></td>
				<td><a href="#">DEF</a></td>
			</tr>
			</tbody>
	</table>
	<form>
	<input type="text" name="search" placeholder="Player Search" id="player_search_box" class="medium" />
	</form>
	<div id="position_results"></div>
</div>
{% endblock %}
		

{% block body %}

	<div id="recent_picks" style="background-image: url('{{STATIC_URL}}img/Grass_Background.png'); repeat:repeat-x; background-position: -160px -100px">
		<h3>Recent Picks</h3>
		<div id="pick_inner">
				<div id="previous_pick" class="draft_pick">
				<span class="pick_title">Previous Pick</span>
				<br />
				<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
				</div>
				
				<div id="current_pick" class="draft_pick">
				<span class="pick_title">Current Pick</span>
				<br />
				<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
				</div>
				
				<div id="next_pick" class="draft_pick">
				<span class="pick_title">Next Pick</span>
				<br />
				<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
				</div>
		</div>
	</div>

	<div id="draftboard" style="background-image: url('{{STATIC_URL}}img/Grass_Background.png'); repeat:repeat-x; background-position: -160px -230px">
		<h2>Draft Board</h2>
		<br />
		<div id="round_selection">
			<span>Round</span>
			<ul class="rounds">
				<li><a href="#" class="selected">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
				<li><a href="#">7</a></li>
				<li><a href="#">8</a></li>
				<li><a href="#">9</a></li>
				<li><a href="#">10</a></li>
				<li><a href="#">11</a></li>
				<li><a href="#">12</a></li>
				<li><a href="#">13</a></li>
				<li><a href="#">14</a></li>
			</ul>
		</div>
		<div id="draft_rounds">
		<table class="round">
			<thead>
				<tr><th>Pick</th><th>Team</th><th>Player</th><th>Position</th></tr>
			</thead>			
			<tbody>	
				<tr><td>1</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>2</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>3</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>4</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>5</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>6</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>7</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>8</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>9</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>10</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>11</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>12</td><td>Team</td><td>Player</td><td>Position</td></tr>
			</tbody>
		</table>
		<table class="round" style="display:none;">
			<thead>
				<tr><th>Pick</th><th>Team</th><th>Player</th><th>Position</th></tr>
			</thead>			
			<tbody>	
				<tr><td>1</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>2</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>3</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>4</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>5</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>6</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>7</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>8</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>9</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>10</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>11</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>12</td><td>Team</td><td>Player</td><td>Position</td></tr>
			</tbody>
		</table>
		<table class="round" style="display:none;">
			<thead>
				<tr><th>Pick</th><th>Team</th><th>Player</th><th>Position</th></tr>
			</thead>			
			<tbody>	
				<tr><td>1</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>2</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>3</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>4</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>5</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>6</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>7</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>8</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>9</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>10</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>11</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>12</td><td>Team</td><td>Player</td><td>Position</td></tr>
			</tbody>
		</table>
		<table class="round" style="display:none;">
			<thead>
				<tr><th>Pick</th><th>Team</th><th>Player</th><th>Position</th></tr>
			</thead>			
			<tbody>	
				<tr><td>1</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>2</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>3</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>4</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>5</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>6</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>7</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>8</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>9</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>10</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>11</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>12</td><td>Team</td><td>Player</td><td>Position</td></tr>
			</tbody>
		</table>
		<table class="round" style="display:none;">
			<thead>
				<tr><th>Pick</th><th>Team</th><th>Player</th><th>Position</th></tr>
			</thead>			
			<tbody>	
				<tr><td>1</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>2</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>3</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>4</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>5</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>6</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>7</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>8</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>9</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>10</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>11</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>12</td><td>Team</td><td>Player</td><td>Position</td></tr>
			</tbody>
		</table>
		<table class="round" style="display:none;">
			<thead>
				<tr><th>Pick</th><th>Team</th><th>Player</th><th>Position</th></tr>
			</thead>			
			<tbody>	
				<tr><td>1</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>2</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>3</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>4</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>5</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>6</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>7</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>8</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>9</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>10</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>11</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>12</td><td>Team</td><td>Player</td><td>Position</td></tr>
			</tbody>
		</table>
		<table class="round" style="display:none;">
			<thead>
				<tr><th>Pick</th><th>Team</th><th>Player</th><th>Position</th></tr>
			</thead>			
			<tbody>	
				<tr><td>1</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>2</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>3</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>4</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>5</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>6</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>7</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>8</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>9</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>10</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>11</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>12</td><td>Team</td><td>Player</td><td>Position</td></tr>
			</tbody>
		</table>
		<table class="round" style="display:none;">
			<thead>
				<tr><th>Pick</th><th>Team</th><th>Player</th><th>Position</th></tr>
			</thead>			
			<tbody>	
				<tr><td>1</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>2</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>3</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>4</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>5</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>6</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>7</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>8</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>9</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>10</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>11</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>12</td><td>Team</td><td>Player</td><td>Position</td></tr>
			</tbody>
		</table>
		<table class="round" style="display:none;">
			<thead>
				<tr><th>Pick</th><th>Team</th><th>Player</th><th>Position</th></tr>
			</thead>			
			<tbody>	
				<tr><td>1</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>2</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>3</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>4</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>5</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>6</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>7</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>8</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>9</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>10</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>11</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>12</td><td>Team</td><td>Player</td><td>Position</td></tr>
			</tbody>
		</table>
		<table class="round" style="display:none;">
			<thead>
				<tr><th>Pick</th><th>Team</th><th>Player</th><th>Position</th></tr>
			</thead>			
			<tbody>	
				<tr><td>1</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>2</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>3</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>4</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>5</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>6</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>7</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>8</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>9</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>10</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>11</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>12</td><td>Team</td><td>Player</td><td>Position</td></tr>
			</tbody>
		</table>
		<table class="round" style="display:none;">
			<thead>
				<tr><th>Pick</th><th>Team</th><th>Player</th><th>Position</th></tr>
			</thead>			
			<tbody>	
				<tr><td>1</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>2</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>3</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>4</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>5</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>6</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>7</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>8</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>9</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>10</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>11</td><td>Team</td><td>Player</td><td>Position</td></tr>
				<tr><td>12</td><td>Team</td><td>Player</td><td>Position</td></tr>
			</tbody>
		</table>
		</div>
	</div>
	
	<div id="modal_side">
		<input type="submit" name="hide_modal" value=">" />
		<h3>QB - Peyton Manning</h3>
		<h5>Indianapolis Colts</h5>
		
		<table>
			<thead>
				<tr><th>Year</th><th>Points</th></tr>
			</thead>
			<tbody>
				<tr><td>2010</td><td>455.6</td></tr>
				<tr><td>2009</td><td>420.8</td></tr>
				<tr><td>2008</td><td>512.5</td></tr>
				<tr><td>2007</td><td>443.7</td></tr>
			</tbody>
		</table>
		
		<h5>Teammates</h5>
		<ul class="teammates">
			
			<li>
				<span class="teammate_name">Reggie Wayne</span>
				<div class="teammate_button">
					<input type="submit" name="draft" value="Draft" />
				</div>
				<table></table>
			</li>
			
			<li>
				<span class="teammate_name">Dallas Clark</span>
				<div class="teammate_button">
					<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" /> 
					<input type="submit" name="draft" value="Drafted" class="inactive" />
				</div>
				<table></table>
			</li>
			
			<li>
				<span class="teammate_name">Pierre Garcon</span>
				<div class="teammate_button">
					<input type="submit" name="draft" value="Draft" />
				</div>
				<table></table>
			</li>
		
		</ul>
	</div>
{% endblock body %}

{% block extra_body %}
<script type="text/javascript">
$(function () {
	$('#round_selection .rounds li a').click(function() {
		var num = $(this).text();
		var prev = $('.rounds li .current').text();
		
		$(".rounds li .current").removeClass('current');
		$("#round_selection .rounds").children().eq(num-1).children().addClass('current');
		
		if (prev > num)
		{
			
		} else if (num > prev)
		{
			
		}
	});
	
	$('#draftboard td').click(function () {
		$('#modal_side').show("slide", {direction: "right", mode: "show"}, 500);
	});
	
	$('.draft_pick').click(function() {
		//$('#previous_pick').fadeTo('normal', 0, function (){
		
		//});
		$('#previous_pick').hide("slide", {direction: "left", mode: "hide"}, 'normal');
		$('#current_pick').attr("id", "previous_pick");
		$('#next_pick').attr("id", "current_pick");
		
		$('.draft_pick h3').fadeTo('normal', 0, function() {
		});
		$('#previous_pick h3').text("Previous Pick");
		$('#current_pick h3').text("Current Pick");
		$('.draft_pick h3').fadeTo('normal', 1, function () {
		
		});
		
		$('#pick_inner').append('<div class="draft_pick" id="next_pick><h3>Next Pick</h3></div">');
	});
	
	$('#modal_side > input').click(function() {
		$('#modal_side').hide("slide", {direction: "right", mode: "show"}, 500);
	});
	
	$('#position_pick td a').click(function() {
		$(this).toggleClass('selected', 'fast');
	});
	
	$('#player_search_box').change(function() {
	
	
	});
	
});

function slideLeft(initial, final){

}

function slideRight(initial, final){

}
</script>
{% endblock %}