#body {
	width: 938px;
}

.decision_wrapper > table {
	width: 740px;
	margin: auto;
}


.drop_here {
	background: black;
	color: white;
	border: 1px solid blue;
}

div.drag_player {
	width: 740px;
}

.player_choices tr.disabled td {
	background-color: rgb(255, 255, 255, 0.15);
}