@import url(http://fonts.googleapis.com/css?family=Nova+Flat);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);

/* Header CSS */
.topbar {
	
}

div.topbar > a.logo {
	margin-left: 0 !important;
	font-family: 'Cabin Sketch', sans-serif;
}

.goalpost {
	color: yellow;
	font-family: 'Nova Flat', cursive;
}

/* Layout Foundation */

/*body {
	margin-top: 0 !important;
}*/

#body {
  	background-color: #E8E8E8;
  	padding: 10px;
  
  	-moz-box-shadow: 0px 2px 5px -2px #000;
  	-webkit-box-shadow: 0px 2px 5px -2px #000;
  	box-shadow: 0px 2px 5px -2px #000;
  	
}

#left_sidebar {
	height: 100%;
	padding: 5px;
	
}

#right_sidebar {
	padding: 5px;
	height: 100%;
}

.container {
	padding-top: 45px;
}

/*#right_sidebar {
  float:right;
  width:150px;  
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px; 
}*/

#footer {
	background-color: black;
	height: 40px;
	width: auto;
	z-index: 2;
	-moz-box-shadow: 0px 2px 5px -2px #000;
	-webkit-box-shadow: 0px 2px 5px -2px #000;
	box-shadow: 0px 2px 5px -2px #000;
}


/* Sidebar CSS */
.teammates {
	list-style: none;
}





