/* Left Sidebar */
#left_sidebar .profile_img {
	width: 158px;
	height: 158px;
	margin: auto;
	
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	-moz-box-shadow: 0px 0px 4px -1px #000;
	-webkit-box-shadow: 0px 0px 4px -1px #000;
	box-shadow: 0px 0px 4px -1px #000;
	
}

/* Right Sidebar */


/* Body */

#body {
	width: 938px;
}

#body .team_img {
	width: 100px;
	height: 100px;
	margin-left: 15px;
	margin-right: 15px;
	float: left;
	
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	-moz-box-shadow: 0px 0px 4px -1px #000;
	-webkit-box-shadow: 0px 0px 4px -1px #000;
	box-shadow: 0px 0px 4px -1px #000;
}

#body > h2 {
	display: inline-block;
}

#body > h5 {
	display: inline-block;
	margin-left: 15px;
}

#body > h5 > a {
	
}

#body .profile_img {
	width: 25px;
	height: 25px;
	
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	-moz-box-shadow: 0px 0px 3px -1px #000;
	-webkit-box-shadow: 0px 0px 3px -1px #000;
	box-shadow: 0px 0px 3px -1px #000;
	margin-bottom: -7px;
}

.weeks li {
	list-style: none;
	display: inline;
}

.weeks li a {
	text-decoration: none;
	display: inline-block;
	width: 20px;
	margin: 0 5px;
}

.weeks li a:visited {
	color: white;
}

.weeks .selected {
	
}

#week_selection {
	margin-left: 115px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 4px 12px;
	
	background: #222426; /* Old browsers */
	background: -moz-linear-gradient(top, #222426 0%, #0f0f0f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222426), color-stop(100%,#0f0f0f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #222426 0%,#0f0f0f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #222426 0%,#0f0f0f 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #222426 0%,#0f0f0f 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222426', endColorstr='#0f0f0f',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #222426 0%,#0f0f0f 100%); /* W3C */
	

}

#week_selection ul	{
	display: inline;
	width: 100%;
}

#week_selection span {
	color: white;
}

#body table {
	margin: auto;
	font-size: 0.7em;
	
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	border-collapse: collapse;
	cellspacing: 0;
	
}

td {
	text-align: center;
	vertical-align: middle;
}

td > a {
	margin: 0;
	text-decoration: none;
	
}


tr.filler{
	height: 10px;
	background: none;
	border: none;
}

.table_row {
	list-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0;
	
	text-align: center;
	width: 95%;
	
	height: 30px;
	background: rgb(176,212,227); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(176,212,227,1) 0%, rgba(136,186,207,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(176,212,227,1)), color-stop(100%,rgba(136,186,207,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* W3C */
	
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	font-size: 0.6em;
}

.table_row .player {
	width: 10%;
}

.table_row .position {
	width: 7%;
}

.table_row .team {
	width: 10%;
}

.table_row .opponent {
	width: 10%;
}

.table_row .start {
	width: 7%;
}

.table_row .passing {
	width: 12%;
}

.table_row .rushing {
	width: 12%;
}

.table_row .receiving {
	width: 12%;
}

.table_row .return {
	width: 8%;
}

.table_row .misc {
	width: 5%;
}

.table_row .points {
	width: 7%;
}

.table_row > div {
	display: inline-block;
	border: 1px solid black;
	height: 100%;
	vertical-align: middle;
}