#signup_box {
	background-repeat: no-repeat;
	background-position: center top;
	margin: auto;
	margin-top: 50px;
	height: 600px;
	width: 500px;
	color: yellow;
	padding-top: 60px;
	padding-left: 150px;
	padding-right: 150px;
	padding-bottom: 25px;
}


#signup_box h2, h3, p, label, .indicate-required, #mce-error-response, #mce-success-response {
	font-family: 'Cabin Sketch', cursive;
}

.mce_inline_error, #mce-error-response, #mce-success-response {
	font-size: 0.8em;
	color: white;
}

.indicate-required {
	font-size: 0.8em;
}

.btn {
	position: absolute;
	margin-left: 210px;
	top: 480px;
	width: 120px;
	height: 40px;
	background: #f2f5f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
	border-radius: 6px;
	border: 1px solid white;
	transition: all 0.333s ease-in-out;
	-webkit-transition: all 0.333s ease-in-out;
	-moz-transition: all 0.333s ease-in-out;
}

.btn:hover {
	-moz-box-shadow: 0px 0px 5px #FFF;
	-webkit-box-shadow: 0px 0px 5px #FFF;
	box-shadow: 0px 0px 5px #FFF;
}

.btn:active {
	-moz-box-shadow:inset 0px 0px 5px #000;
	-webkit-box-shadow:inset 0px 0px 5px #000;
	box-shadow:inset 0px 0px 5px #000;
}

label {
	width: 140px;
	float: left;
	text-align: right;
}

.mc-field-group {
	margin-left: 50px;
}

.mc-field-group input {
	position: left;
	margin-top: 5px;
	width: 146px;
	background-color: #7D7D7D;
	border: dashed 1px #CCCCCC;
	color: white;
}

.mc-field-group input:focus {
	-moz-box-shadow: 0px 0px 8px #FFFF75;
	-webkit-box-shadow: 0px 0px 8px #FFFF75;
	box-shadow: 0px 0px 8px #FFFF75;
}

#mc-tag {
	position: absolute;
	top: 406px;
	margin-left: 330px;
	font-style: italic;
	text-align: right;
	padding-bottom: 2px;
	padding-right: 2px;
}

#mc-tag a {
	text-decoration: none;
	color: white;
	font-size: 1.2em;
}

#left_sidebar {
	width: 0;
}

#right_sidebar {
	width: 0;
}

#body {
	margin: auto;
}

#footer {
}









