{% extends "site_base.html" %}

{% block head_title_base %}{% block head_title %}Gametime Decision{% endblock %}{% endblock %}</title>

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/gametime.css" type="text/css" />
{% endblock extra_head %}

{% block subnav %}	
	<ul class="nav_items">
		<li><a href="#">Players</a></li>
		<li><a href="#">History</a></li>
		<li class="active"><a href="#">Gametime Decision</a></li>
	</ul>
	<div class="clear"></div>
{% endblock %}
		

{% block body %}
<div class="span16 columns" id="body">
	<button class="btn primary large" style="float:right;margin-right:10px;">Ask for help</button>
	
	<div class="decision_wrapper">
		<table class="positions">
			<thead>
				<tr>
					<th>Position</th>
					<th>Player</th>
					<th>Team</th>
					<th>Opponent</th>
					<th>% start</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				<tr class="QB">
					<td>QB</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>

				</tr>
				<tr class="WR">
					<td>WR</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
				</tr>
			</tbody>
		</table>
		
		<table class="zebra-striped player_choices">
			<thead>
				<tr>
					<th>Position</th>
					<th>Player</th>
					<th>Team</th>
					<th>Opponent</th>
					<th>% start</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				<tr class="QB" title="1">
					<td>QB</td>
					<td><a href="#"class="player_link">Peyton Manning</a></td>
					<td>IND</td>
					<td>NO</td>
					<td>100%</td>
					<td>25.2</td>
				</tr>
				<tr class="QB" title="2">
					<td>QB</td>
					<td><a href="#"class="player_link">Michael Vick</a></td>
					<td>PHI</td>
					<td>NO</td>
					<td>100%</td>
					<td>25.2</td>
				</tr>
				<tr class="WR" title="3">
					<td>WR</td>
					<td><a href="#"class="player_link">Andre Johnson</a></td>
					<td>HOU</td>
					<td>NO</td>
					<td>100%</td>
					<td>25.2</td>
				</tr>
				<tr class="WR" title="4">
					<td>WR</td>
					<td><a href="#"class="player_link">Larry Fitzgerald</a></td>
					<td>ARI</td>
					<td>NO</td>
					<td>100%</td>
					<td>25.2</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</div>
{% endblock body %}

{% block extra_body %}
<script type="text/javascript">
$(function () {

	$('table.positions tbody tr.QB').droppable({ 
		accept:'.QB',
		drop: function(event, ui){
			
			if ($(this).hasClass('set'))
			{
				$(this).clone(true).hide().appendTo('table.player_choices tbody').show(400).draggable({
				
					helper:function(event){
					return $('<div class="drag_player"><table></table></div>').find('table').append($(event.target).closest('tr').clone()).end().appendTo('body');
					}
				});
				$(this).html(ui.helper.find('tr').html());
			} else {
				$(this).html(ui.helper.find('tr').html()).addClass('set');
			}
			
			ui.draggable.fadeOut(400);
		},
		activeClass: 'drop_here'
	});
	$('table.positions tbody tr.WR').droppable({ 
		accept:'.WR',
		drop: function(event, ui){
			
			if ($(this).hasClass('set'))
			{
				$(this).clone(true).hide().appendTo('table.player_choices tbody').show(400).draggable({
				
					helper:function(event){
					return $('<div class="drag_player"><table></table></div>').find('table').append($(event.target).closest('tr').clone()).end().appendTo('body');
					}
				});
				$(this).html(ui.helper.find('tr').html());
			} else {
				$(this).html(ui.helper.find('tr').html()).addClass('set');
			}
			
			ui.draggable.fadeOut(400);
		},
		activeClass: 'drop_here'
	});
	$('table.positions tbody tr.RB').droppable({ accept:'.RB'});
	$('table.positions tbody tr.TE').droppable({ accept:'.TE'});
	$('table.positions tbody tr.K').droppable({ accept:'.K'});
	$('table.positions tbody tr.DEF').droppable({ accept:'.DEF'});
	
	$('table.player_choices > tbody > tr').draggable({

		helper:function(event){
		return $('<div class="drag_player"><table></table></div>').find('table').append($(event.target).closest('tr').clone()).end().appendTo('body');
		}
	});
});
</script>
{% endblock %}



