{% extends "site_base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/league.css" type="text/css" />
<style type="text/css">
.subnav ul li.active {
	background-image: url('{{STATIC_URL}}img/down_arrow.png');
	background-position: 50% 0%;
	background-repeat: no-repeat;
}
</style>
{% endblock %}

{% block subnav %}
	<!--<ul class="league_nav">
		<li><a href="#">League Name</a></li>
		<li><span>></span></li>
		<li><span>Team Name</span></li>
	</ul>-->
	
	<ul class="nav_items">
		<li><a href="#">League Settings</a></li>
		<li><a href="#">Players</a></li>
		<li><a href="#">Messages</a></li>
		<li class="active"><a href="#">Overview</a></li>
	</ul>
	<div class="clear"></div>
{% endblock %}


{% block left_sidebar %}
<!--<div class="span3 columns" id="left_sidebar">
	<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
	<h4>Chris</h4>
	<p>This is just some test content.</p>
	<h5>Team</h5>
	<p>This is who is on the team</p>
</div>-->
{% endblock left_sidebar %}

{% block right_sidebar %}
<div class="span8" id="right_sidebar">
	<h3>Standings</h3>
	<table>
		<thead>
			<tr>
				<th>Team</th>
				<th>Owner</th>
				<th>Points</th> <!-- or record -->
				<th>Waiver</th>
				<th>Moves</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/beta/league/thisleague/team/the_landsharks/">The Landsharks</a></td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Stuart Deaderick</td>
				<td>0.00</td>
				<td>4</td>
				<td>-</td>
			</tr>
			<tr>
				<td>Colossus of Clout</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Mike Gilmore</td>
				<td>0.00</td>
				<td>5</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Terry Carmichael</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Eric Sollenberger</td>
				<td>0.00</td>
				<td>3</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Munchie Legeaux</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Jay Slagle</td>
				<td>0.00</td>
				<td>2</td>
				<td>1</td>
			</tr>
			<tr>
				<td>El Diablo</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Matt Davis</td>
				<td>0.00</td>
				<td>1</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Ginger Genocide '11</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Jameson Bundy</td>
				<td>0.00</td>
				<td>6</td>
				<td>-</td>
			</tr>
			<tr>
				<td>Hail to the V</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Bret Vukoder</td>
				<td>0.00</td>
				<td>7</td>
				<td>-</td>
			</tr>
			<tr>
				<td>Bieberhole69</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Danny Peterson</td>
				<td>0.00</td>
				<td>11</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Sexy Dancers</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Dan Wells</td>
				<td>0.00</td>
				<td>10</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Nightcrawlers</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Henry Shiflett</td>
				<td>0.00</td>
				<td>9</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Smash-Bang Fusion</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Mark Hoffman</td>
				<td>0.00</td>
				<td>8</td>
				<td>2</td>
			</tr>
			<tr>
				<td>The Vinegar Strokes</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Chris Brakebill</td>
				<td>0.00</td>
				<td>12</td>
				<td>1</td>
			</tr>
			
		</tbody>
	</table>
</div>
{% endblock right_sidebar %}


{% block body %}
<div id="body" class="span8">
	<h3>Activity</h3>
	<div class="status_update feed_item">
		<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
		<h5><a href="#">Chris Brakebill</a></h5>
		<p>This is the status text and I'm really a big fan of <a href="#" class="player_link">Michael Vick</a></p>
		<ul class="reactions">
			<li><img src="{{ STATIC_URL }}img/Smiley.png" alt="smile" /></li>
			<li><img src="{{ STATIC_URL }}img/Thumbs_aloft.png" alt="Thumbs Aloft" /></li>
			<li><img src="{{ STATIC_URL }}img/shocked.png" alt="Shocked" /></li>
			<li><img src="{{ STATIC_URL }}img/sick.png" alt="Sick" /></li>
		</ul>
		<div class="comments">
		
		</div>
		<textarea></textarea>
	</div>
	
	<div class="status_update feed_item">
		<img src="{{ STATIC_URL }}img/jameson.jpg" class="profile_img" />
		<h5><a href="#">Jim Bob Cooter</a></h5>
		<p>Your mother was a hamster and your father smelled of elderberries</p>
		<ul>
			<li>Smile</li>
			<li>Laugh</li>
			<li>Angry</li>
			<li>Amazed</li>
		</ul>
		<div class="comments">
		
		</div>
		<textarea></textarea>
	</div>
	
	<div class="trade feed_item">
		<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
		<img src="{{ STATIC_URL }}img/profile.png" class="profile_img other" />
		<h5><a href="#">Chris Brakebill</a></h5>
		<p>made a trade with <a href="#">Chris Brakebill</a> in the league <a href="#">Dooley Dozen</a>.</p>
		<div class="trade_self span4 columns">
			Chris got:
			<ul>
				<li><a href="#" class="player_link">Peyton Manning</a></li>
				<li><a href="#" class="player_link">LeSean McCoy</a></li>
			</ul>
		</div>
		<div class="trade_opponent span4 columns offset1">
			Chris got:
			<ul>
				<li><a href="#" class="player_link">Brian Bosworth</a></li>
				<li><a href="#" class="player_link">Clinton Portis</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="status_update feed_item">
		<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
		<h5><a href="#">Chris Brakebill</a></h5>
		<p>This is the status text and I'm really a big fan of <a href="#" class="player_link">Michael Vick</a></p>
	</div>
	
	<div class="status_update feed_item">
		<img src="{{ STATIC_URL }}img/jameson.jpg" class="profile_img" />
		<h5><a href="#">Jim Bob Cooter</a></h5>
		<p>Your mother was a hamster and your father smelled of elderberries</p>
	</div>

	<div class="status_update feed_item">
		<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
		<h5><a href="#">Chris Brakebill</a></h5>
		<p>This is the status text and I'm really a big fan of <a href="#" class="player_link">Michael Vick</a></p>
	</div>
	
	<div class="status_update feed_item">
		<img src="{{ STATIC_URL }}img/jameson.jpg" class="profile_img" />
		<h5><a href="#">Jim Bob Cooter</a></h5>
		<p>Your mother was a hamster and your father smelled of elderberries</p>
		<ul>
			<li>Comment</li>
			<li>Like</li>
			<li>Dislike</li>
		</ul>
		<ul>
			<li>2 Likes</li>
			<li>1 Dislike</li>
		</ul>
		<div class="comments">
		
		</div>
	</div>
	
	<div class="trade feed_item">
		<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
		<img src="{{ STATIC_URL }}img/profile.png" class="profile_img other" />
		<h5><a href="#">Chris Brakebill</a></h5>
		<p>made a trade with <a href="#">Chris Brakebill</a> in the league <a href="#">Dooley Dozen</a>.</p>
		<div class="trade_self span4 columns">
			Chris got:
			<ul>
				<li><a href="#" class="player_link">Peyton Manning</a></li>
				<li><a href="#" class="player_link">LeSean McCoy</a></li>
			</ul>
		</div>
		<div class="trade_opponent span4 columns offset1">
			Chris got:
			<ul>
				<li><a href="#" class="player_link">Brian Bosworth</a></li>
				<li><a href="#" class="player_link">Clinton Portis</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="status_update feed_item">
		<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
		<h5><a href="#">Chris Brakebill</a></h5>
		<p>This is the status text and I'm really a big fan of <a href="#" class="player_link">Michael Vick</a></p>
	</div>
	
	<div class="status_update feed_item">
		<img src="{{ STATIC_URL }}img/jameson.jpg" class="profile_img" />
		<h5><a href="#">Jim Bob Cooter</a></h5>
		<p>Your mother was a hamster and your father smelled of elderberries</p>
	</div>
		
	
</div>
{% endblock %}