{% extends "site_base.html" %}

{% block extra_head %}
<style type="text/css">
</style>
{% endblock %}


{% block left_sidebar %}
<!--<div class="span3 columns" id="left_sidebar">
	<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
	<h4>Chris</h4>
	<p>This is just some test content.</p>
	<h5>Team</h5>
	<p>This is who is on the team</p>
</div>-->
{% endblock left_sidebar %}


{% block body %}
<div id="body" class="span16 columns" style="padding-top: 50px;">
	<p>Congratulations! You created a new user!</p>
</div>
{% endblock %}