{% extends "site_base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/league.css" type="text/css" />
<style type="text/css">
.subnav ul li.active {
	background-image: url('{{STATIC_URL}}img/down_arrow.png');
	background-position: 50% 0%;
	background-repeat: no-repeat;
}
</style>
{% endblock %}

{% block subnav %}
	<!--<ul class="league_nav">
		<li><a href="#">League Name</a></li>
		<li><span>></span></li>
		<li><span>Team Name</span></li>
	</ul>-->
	
	<ul class="nav_items">
		<li><a href="#">League Settings</a></li>
		<li><a href="#">Players</a></li>
		<li><a href="#">Messages</a></li>
		<li class="active"><a href="#">Overview</a></li>
	</ul>
	<div class="clear"></div>
{% endblock %}


{% block left_sidebar %}
<div class="span3 columns" id="left_sidebar">
	<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
	<h4>Chris</h4>
	<p>This is just some test content.</p>
	<h5>Team</h5>
	<p>This is who is on the team</p>
</div>
{% endblock left_sidebar %}

{% block right_sidebar %}
<div class="span3 columns" id="right_sidebar">
	<h5>Transactions</h5>
	<div class="transaction">
	<a href="#">Munchie Legeaux</a> added <a href="#" class="player_link">Michael Vick</a> and dropped <a href="#" class="player_link">A.J. Feeley</a>
	</div>
	<h5>Messages</h5>
</div>
{% endblock right_sidebar %}


{% block body %}
<div id="body" class="span10 columns">

	<table>
		<thead>
			<tr>
				<th>Team</th>
				<th>Owner</th>
				<th>Points</th> <!-- or record -->
				<th>Waiver</th>
				<th>Moves</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/league/thisleague/team/the_landsharks/">The Landsharks</a></td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Stuart Deaderick</td>
				<td>0.00</td>
				<td>4</td>
				<td>-</td>
			</tr>
			<tr>
				<td>Colossus of Clout</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Mike Gilmore</td>
				<td>0.00</td>
				<td>5</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Terry Carmichael</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Eric Sollenberger</td>
				<td>0.00</td>
				<td>3</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Munchie Legeaux</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Jay Slagle</td>
				<td>0.00</td>
				<td>2</td>
				<td>1</td>
			</tr>
			<tr>
				<td>El Diablo</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Matt Davis</td>
				<td>0.00</td>
				<td>1</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Ginger Genocide '11</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Jameson Bundy</td>
				<td>0.00</td>
				<td>6</td>
				<td>-</td>
			</tr>
			<tr>
				<td>Hail to the V</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Bret Vukoder</td>
				<td>0.00</td>
				<td>7</td>
				<td>-</td>
			</tr>
			<tr>
				<td>Bieberhole69</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Danny Peterson</td>
				<td>0.00</td>
				<td>11</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Sexy Dancers</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Dan Wells</td>
				<td>0.00</td>
				<td>10</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Nightcrawlers</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Henry Shiflett</td>
				<td>0.00</td>
				<td>9</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Smash-Bang Fusion</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Mark Hoffman</td>
				<td>0.00</td>
				<td>8</td>
				<td>2</td>
			</tr>
			<tr>
				<td>The Vinegar Strokes</td>
				<td class="owner"><img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />Chris Brakebill</td>
				<td>0.00</td>
				<td>12</td>
				<td>1</td>
			</tr>
			
		</tbody>
	</table>

	
</div>
{% endblock %}