{% extends "site_base.html" %}

{% block head_title_base %}{% block head_title %}Chris Brakebill{% endblock %}{% endblock %}</title>

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}owner/css/owner.css" type="text/css" />
{% endblock extra_head %}


		
{% block left_sidebar %}
<div class="span3 columns" id="left_sidebar">
	<h3 class="name">Chris Brakebill</h3>
   	<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
	<p>This is just some test content.</p>
	<h5>Teams</h5>
	<ul class="teams">
		<li>The Vinegar Strokes</li>
		<li>The Great Vizzini</li>
		<li>Women Be Shoppin</li>
	</ul>
</div>
{% endblock left_sidebar %}

{% block right_sidebar %}
<div class="span3 columns" id="right_sidebar">
<p>This is only a test</p>
	
</div>
{% endblock %}
		

{% block body %}
	<div class="information">
	
	</div>
	
	<div class="post_update">
		<form>
			<textarea placeholder="Got somethin' to say?" class="xxlarge" cols="20"></textarea>
			<input type="submit" name="share" value="Share" class="btn" />
			
		</form>
	</div>
	
	<div class="status_update">
	
	</div>
	
	<div class="trade">
	</div>
	
	<div class="add_drop">
	
	</div>
	
	
	<div id="modal_side">
		<input type="submit" name="hide_modal" value=">" />
		<h3>QB - Peyton Manning</h3>
		<h5>Indianapolis Colts</h5>
		
		<table>
			<thead>
				<tr><th>Year</th><th>Points</th></tr>
			</thead>
			<tbody>
				<tr><td>2010</td><td>455.6</td></tr>
				<tr><td>2009</td><td>420.8</td></tr>
				<tr><td>2008</td><td>512.5</td></tr>
				<tr><td>2007</td><td>443.7</td></tr>
			</tbody>
		</table>
		
		<h5>Teammates</h5>
		<ul class="teammates">
			
			<li>
				<span class="teammate_name">Reggie Wayne</span>
				<div class="teammate_button">
					<input type="submit" name="draft" value="Draft" />
				</div>
				<table></table>
			</li>
			
			<li>
				<span class="teammate_name">Dallas Clark</span>
				<div class="teammate_button">
					<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" /> 
					<input type="submit" name="draft" value="Drafted" class="inactive" />
				</div>
				<table></table>
			</li>
			
			<li>
				<span class="teammate_name">Pierre Garcon</span>
				<div class="teammate_button">
					<input type="submit" name="draft" value="Draft" />
				</div>
				<table></table>
			</li>
		
		</ul>
	</div>
{% endblock body %}

{% block extra_body %}
<script type="text/javascript">
</script>
{% endblock %}