{% extends "base.html" %}

{% load i18n %}
{% load analytics %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/jquery.autocomplete.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bookmarks/css/bookmarks.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block login %}
    {% include "_account_bar.html" %}
{% endblock %}

{% block top_navbar %}
	<a id="nav_logo" href="/">MYLEAGUES</a>

<!--<div id="site_settings">
	<input type="text" name="site_search" placeholder="Search…" />
</div>-->
{% endblock %}

{% block right_tabs %}
    {% if user.is_authenticated %}
        <ul class="tabs">{% spaceless %}
        	<li id="tab_home"><a href="#">{% trans "Home" %}</a></li>
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
            <li id="tab_teams"><a href="#">{% trans "Teams" %}</a></li>
            <li id="tab_leagues"><a href="#">{% trans "Leagues" %}</a></li>
            <li id="tab_inbox"><a href="{% url messages_inbox %}">{% trans "Inbox" %} ({{ combined_inbox_count }})</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}

{% block footer %}

{% endblock %}

{% block extra_body_base %}
    {% ga %}
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
    {% block extra_body %}{% endblock %}
{% endblock %}
