{% extends "base.html" %}

{% load i18n %}
{% load analytics %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/jquery.autocomplete.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bookmarks/css/bookmarks.css" />
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css'>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block login %}
    {% include "_account_bar.html" %}
{% endblock %}

{% block top_navbar %}
	<a class="logo" href="/">M<span class="goalpost">Y</span>LEAGUES</a>
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Friends</a></li>
		<li><a href="#">Profile</a></li>
		<li class="active"><a href="#">Draft</a></li>
	</ul>
	<form action="">
	     <input type="text" placeholder="Search" />
    </form>
    <ul class="nav secondary-nav">
	      <li class="menu">
		        <a href="#" class="menu">Chris</a>
		        <ul class="menu-dropdown">
			          <li><a href="">Secondary link</a></li>
			          <li><a href="">Something else here</a></li>
			          <li class="divider"></li>
			          <li><a href="">Another link</a></li>
		        </ul>
	      </li>
    </ul>
<!--<div id="site_settings">
	<input type="text" name="site_search" placeholder="Search…" />
</div>-->
{% endblock %}

{% block right_tabs %}
    {% if user.is_authenticated %}
        <ul class="tabs">{% spaceless %}
        	<li id="tab_home"><a href="#">{% trans "Home" %}</a></li>
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
            <li id="tab_teams"><a href="#">{% trans "Teams" %}</a></li>
            <li id="tab_leagues"><a href="#">{% trans "Leagues" %}</a></li>
            <li id="tab_inbox"><a href="{% url messages_inbox %}">{% trans "Inbox" %} ({{ combined_inbox_count }})</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}

{% block footer %}

{% endblock %}

{% block extra_body_base %}
    {% ga %}
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
    {% block extra_body %}{% endblock %}
{% endblock %}
