{% extends "site_base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/team.css" type="text/css" />
{% endblock %}

{% block left_sidebar %}
	<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
	<h4>Chris</h4>
	<p>This is just some test content.</p>
	<h5>Team</h5>
	<p>This is who is on the team</p>
{% endblock left_sidebar %}


{% block right_sidebar %}

	<h3>Recent Moves</h3>
	
	<h3>Player News</h3>
{% endblock %}

{% block body %}
	<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Position</th>
			<th>Team</th>
			<th>Opponent</th>
			<th>% start</th>
			<th>Passing</th>
			<th>Rushing</th>
			<th>Receiving</th>
			<th>Return</th>
			<th>Misc</th>
			<th>Points</th>
		</tr>
	</thead>
	<tbody>
		<tr class="filler"></tr>
		<tr>
			<td><a href="#">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
		<tr class="filler"></tr>
		<tr>
			<td><a href="#">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
		<tr class="filler"></tr>
		<tr>
			<td><a href="#">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
		<tr class="filler"></tr>
		<tr>
			<td><a href="#">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
		<tr class="filler"></tr>
		<tr>
			<td><a href="#">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
		<tr class="filler"></tr>
		<tr>
			<td><a href="#">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
		<tr class="filler"></tr>
		<tr>
			<td><a href="#">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
	</tbody>
	</table>
	
	<div class="table">
		<div class="header">
		
		</div>
		
		<li class="table_row">
			<div class="player"><a hre="#">Peyton Manning</a></div>
			<div class="position"><a href="#">QB</a></div>
			<div class="team"><a href="#">Indianapolis Colts</a></div>
			<div class="opponent"><a href="#">New Orleans Saints</a></div>
			<div class="start"><a href="#">100%</a></div>
			<div class="passing"><a href="#">0</a></div>
			<div class="running"><a href="#">0</a></div>
			<div class="receiving"><a href="#">0</a></div>
			<div class="return"><a href="#">0</a></div>
			<div class="misc"><a href="#">0</a></div>
			<div class="points"><a href="#">0</a></div>
		</li>
		<li class="table_row">
			<div class="player"><a hre="#">Peyton Manning</a></div>
			<div class="position"><a href="#">QB</a></div>
			<div class="team"><a href="#">Indianapolis Colts</a></div>
			<div class="opponent"><a href="#">New Orleans Saints</a></div>
			<div class="start"><a href="#">100%</a></div>
			<div class="passing"><a href="#">0</a></div>
			<div class="running"><a href="#">0</a></div>
			<div class="receiving"><a href="#">0</a></div>
			<div class="return"><a href="#">0</a></div>
			<div class="misc"><a href="#">0</a></div>
			<div class="points"><a href="#">0</a></div>
		</li>
		<li class="table_row">
			<div class="player"><a hre="#">Peyton Manning</a></div>
			<div class="position"><a href="#">QB</a></div>
			<div class="team"><a href="#">Indianapolis Colts</a></div>
			<div class="opponent"><a href="#">New Orleans Saints</a></div>
			<div class="start"><a href="#">100%</a></div>
			<div class="passing"><a href="#">0</a></div>
			<div class="running"><a href="#">0</a></div>
			<div class="receiving"><a href="#">0</a></div>
			<div class="return"><a href="#">0</a></div>
			<div class="misc"><a href="#">0</a></div>
			<div class="points"><a href="#">0</a></div>
		</li>
		<li class="table_row">
			<div class="player"><a hre="#">Peyton Manning</a></div>
			<div class="position"><a href="#">QB</a></div>
			<div class="team"><a href="#">Indianapolis Colts</a></div>
			<div class="opponent"><a href="#">New Orleans Saints</a></div>
			<div class="start"><a href="#">100%</a></div>
			<div class="passing"><a href="#">0</a></div>
			<div class="running"><a href="#">0</a></div>
			<div class="receiving"><a href="#">0</a></div>
			<div class="return"><a href="#">0</a></div>
			<div class="misc"><a href="#">0</a></div>
			<div class="points"><a href="#">0</a></div>
		</li>
		<li class="table_row">
			<div class="player"><a hre="#">Peyton Manning</a></div>
			<div class="position"><a href="#">QB</a></div>
			<div class="team"><a href="#">Indianapolis Colts</a></div>
			<div class="opponent"><a href="#">New Orleans Saints</a></div>
			<div class="start"><a href="#">100%</a></div>
			<div class="passing"><a href="#">0</a></div>
			<div class="running"><a href="#">0</a></div>
			<div class="receiving"><a href="#">0</a></div>
			<div class="return"><a href="#">0</a></div>
			<div class="misc"><a href="#">0</a></div>
			<div class="points"><a href="#">0</a></div>
		</li>
		<li class="table_row">
			<div class="player"><a hre="#">Peyton Manning</a></div>
			<div class="position"><a href="#">QB</a></div>
			<div class="team"><a href="#">Indianapolis Colts</a></div>
			<div class="opponent"><a href="#">New Orleans Saints</a></div>
			<div class="start"><a href="#">100%</a></div>
			<div class="passing"><a href="#">0</a></div>
			<div class="running"><a href="#">0</a></div>
			<div class="receiving"><a href="#">0</a></div>
			<div class="return"><a href="#">0</a></div>
			<div class="misc"><a href="#">0</a></div>
			<div class="points"><a href="#">0</a></div>
		</li>
		<li class="table_row">
			<div class="player"><a hre="#">Peyton Manning</a></div>
			<div class="position"><a href="#">QB</a></div>
			<div class="team"><a href="#">Indianapolis Colts</a></div>
			<div class="opponent"><a href="#">New Orleans Saints</a></div>
			<div class="start"><a href="#">100%</a></div>
			<div class="passing"><a href="#">0</a></div>
			<div class="running"><a href="#">0</a></div>
			<div class="receiving"><a href="#">0</a></div>
			<div class="return"><a href="#">0</a></div>
			<div class="misc"><a href="#">0</a></div>
			<div class="points"><a href="#">0</a></div>
		</li>
		<li class="table_row">
			<div class="player"><a hre="#">Peyton Manning</a></div>
			<div class="position"><a href="#">QB</a></div>
			<div class="team"><a href="#">Indianapolis Colts</a></div>
			<div class="opponent"><a href="#">New Orleans Saints</a></div>
			<div class="start"><a href="#">100%</a></div>
			<div class="passing"><a href="#">0</a></div>
			<div class="running"><a href="#">0</a></div>
			<div class="receiving"><a href="#">0</a></div>
			<div class="return"><a href="#">0</a></div>
			<div class="misc"><a href="#">0</a></div>
			<div class="points"><a href="#">0</a></div>
		</li>
		<li class="table_row">
			<div class="player"><a hre="#">Peyton Manning</a></div>
			<div class="position"><a href="#">QB</a></div>
			<div class="team"><a href="#">Indianapolis Colts</a></div>
			<div class="opponent"><a href="#">New Orleans Saints</a></div>
			<div class="start"><a href="#">100%</a></div>
			<div class="passing"><a href="#">0</a></div>
			<div class="running"><a href="#">0</a></div>
			<div class="receiving"><a href="#">0</a></div>
			<div class="return"><a href="#">0</a></div>
			<div class="misc"><a href="#">0</a></div>
			<div class="points"><a href="#">0</a></div>
		</li>
	
	</div>
	
{% endblock %}