{% extends "site_base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/team.css" type="text/css" />
<style type="text/css">
.subnav ul li.active {
	background-image: url('{{STATIC_URL}}img/down_arrow.png');
}
</style>
{% endblock %}

{% block subnav %}
	<ul class="league_nav">
		<li><a href="#">League Name</a></li>
		<li><span>></span></li>
		<li><span>Team Name</span></li>
	</ul>
	
	<ul class="nav_items">
		<li><a href="#">Player News</a></li>
		<li><a href="#">Recent Moves</a></li>
		<li class="active"><a href="#">Roster</a></li>
	</ul>
	<div class="clear"></div>
{% endblock %}


{% block left_sidebar %}
<!--<div class="span3 columns" id="left_sidebar">
	<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
	<h4>Chris</h4>
	<p>This is just some test content.</p>
	<h5>Team</h5>
	<p>This is who is on the team</p>
</div>-->
{% endblock left_sidebar %}


{% block body %}
<div id="body" class="span16 columns">

<img src="{{ STATIC_URL }}img/profile.png" class="profile_img" />
<h2>The Vinegar Strokes</h2>

<div id="week_selection">
	<span>Week</span>
	<ul class="weeks">
		<li><a href="#" class="selected">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">6</a></li>
		<li><a href="#">7</a></li>
		<li><a href="#">8</a></li>
		<li><a href="#">9</a></li>
		<li><a href="#">10</a></li>
		<li><a href="#">11</a></li>
		<li><a href="#">12</a></li>
		<li><a href="#">13</a></li>
		<li><a href="#">14</a></li>
	</ul>
</div>
	<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Position</th>
			<th>Team</th>
			<th>Opponent</th>
			<th>% start</th>
			<th>Passing</th>
			<th>Rushing</th>
			<th>Receiving</th>
			<th>Return</th>
			<th>Misc</th>
			<th>Points</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="#"class="player_link">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
		<tr>
			<td><a href="#"class="player_link">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
		<tr>
			<td><a href="#"class="player_link">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
		<tr>
			<td><a href="#"class="player_link">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
		<tr>
			<td><a href="#"class="player_link">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
		<tr>
			<td><a href="#"class="player_link">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
		<tr>
			<td><a href="#"class="player_link">Peyton Manning</a></td>
			<td><a href="#">QB</a></td>
			<td><a href="#">Indianapolis Colts</a></td>
			<td><a href="#">New Orleans Saints</a></td>
			<td><a href="#">100%</a></td>
			<td><a href="#">300</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">0</a></td>
			<td><a href="#">55</a></td>
		</tr>
	</tbody>
	</table>
</div>
{% endblock %}