{% extends "profiles/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load uni_form_tags %}
{% load group_tags %}
{% load microblogging_tags %}
{% load blog_tags %}
{% load tagging_tags %}
{% load photo_tags %}
{% load threadedcommentstags %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}profiles/css/profile.css" />
{% endblock %}

{% block body %}
<!-- This is where we need to show stream? -->
{% endblock %}

{% block left_sidebar %}
<p>This is the sidebar</p>
{% endblock %}